<a href="https://colab.research.google.com/github/BernasconiLorenzo06/geopandas_nuovo/blob/main/GEOPANDAS_esercizi_fiumi_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**interescts** = quando un oggetto interseca un altro

**contains** = quando un oggetto contiene un altro

**touches** = quando un oggetto tocca un altro


**within** = quando un oggetto è dentro un altro

**crosses** = quando un oggetto passa attraverso un altro un altro

In [ ]:
!pip install geopandas
import pandas as pd
import geopandas
import matplotlib.pyplot as plt
!pip install contextily
import contextily

In [ ]:
corsi_acqua = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/Corsi_acqua_Piano_di_Gestione.zip")
corsi_acqua3857 = corsi_acqua.to_crs(epsg=3857)
corsi_acqua3857

In [ ]:
provincie = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/ProvCM01012022_g")
provincie
provincie3857 = provincie.to_crs(epsg=3857)
provincie3857

In [ ]:
comuni = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/Com01012022_g")
comuni3857 = comuni.to_crs(epsg=3857)
comuni3857

,COD_RIP,COD_REG,COD_PROV,COD_CM,COD_UTS,PRO_COM,PRO_COM_T,COMUNE,COMUNE_A,CC_UTS,Shape_Leng,Shape_Area,geometry
0,1,1,1,201,201,1001,001001,AgliÃ¨,NaN,0,16097.848297,1.330696e+07,"POLYGON ((866361.917 5682681.371, 867296.833 5..."
1,1,1,1,201,201,1002,001002,Airasca,NaN,0,16684.218599,1.595353e+07,"POLYGON ((833554.290 5611950.793, 834124.905 5..."
2,1,1,1,201,201,1003,001003,Ala di Stura,NaN,0,29892.941951,4.575269e+07,"POLYGON ((809653.627 5675092.088, 809693.146 5..."
3,1,1,1,201,201,1004,001004,Albiano d'Ivrea,NaN,0,16192.656480,1.103356e+07,"POLYGON ((882215.093 5692360.950, 882409.855 5..."
4,1,1,1,201,201,1006,001006,Almese,NaN,0,16077.245089,1.771710e+07,"POLYGON ((827649.251 5642707.276, 827687.129 5..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7899,5,20,111,0,111,111103,111103,Villaputzu,NaN,0,100515.537851,1.807260e+08,"MULTIPOLYGON (((1075185.817 4797046.310, 10751..."
7900,5,20,111,0,111,111104,111104,Villasalto,NaN,0,58635.095264,1.303933e+08,"POLYGON ((1055218.999 4797098.868, 1055211.008..."
7901,5,20,111,0,111,111105,111105,Villasimius,NaN,0,49918.361745,5.756161e+07,"MULTIPOLYGON (((1061659.437 4733278.201, 10616..."
7902,5,20,111,0,111,111106,111106,Villasor,NaN,0,53375.684321,8.640693e+07,"POLYGON ((1002344.056 4779213.244, 1002389.298..."
7903,5,20,111,0,111,111107,111107,Villaspeciosa,NaN,0,32524.472837,2.725303e+07,"POLYGON ((994295.952 4768803.807, 995220.994 4..."

In [ ]:
quartieri = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/ds964_nil_wm.zip")
quartieri3857 = quartieri.to_crs(epsg=3857)
quartieri3857.head()

,ID_NIL,NIL,Valido_dal,Valido_al,Fonte,Shape_Leng,Shape_Area,OBJECTID,geometry
0,48,RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO,05/02/2020,Vigente,Milano 2030 - PGT Approvato,8723.368714,2.406306e+06,89,"POLYGON ((1019043.223 5690701.816, 1019040.205..."
1,64,TRENNO,05/02/2020,Vigente,Milano 2030 - PGT Approvato,3309.998800,4.896921e+05,90,"POLYGON ((1013700.561 5699020.396, 1013336.225..."
2,67,PORTELLO,05/02/2020,Vigente,Milano 2030 - PGT Approvato,3800.750663,9.096022e+05,91,"POLYGON ((1019281.533 5698653.937, 1019379.177..."
3,81,BOVISASCA,05/02/2020,Vigente,Milano 2030 - PGT Approvato,7105.469715,1.578028e+06,92,"POLYGON ((1020580.947 5704131.420, 1020451.234..."
4,84,PARCO NORD,05/02/2020,Vigente,Milano 2030 - PGT Approvato,11741.717005,1.532331e+06,93,"POLYGON ((1024184.198 5705106.594, 1024200.172..."

1. visualizzi su una mappa i 10 corsi d'acqua più lunghi della provincia di Milano

In [ ]:
corsi_lunghi = corsi_acqua3857.sort_values('SHAPE_LEN', ascending=False)[:10]
ax = corsi_lunghi.plot(edgecolor =  "k", facecolor = "None",figsize=(12,6),markersize = 5)
contextily.add_basemap(ax)

2. visualizzi su una mappa i Navigli e i fiumi da cui prendono l'acqua. Utilizzare colori diversi per rappresentare i navigli rispetto ai fiumi ed evidenziare bene i percorsi sulla mappa

In [ ]:
navigli = corsi_acqua3857[corsi_acqua3857["NOME"].str.contains("Naviglio")]

In [ ]:
Navigli_interseca= corsi_acqua3857[corsi_acqua3857.touches(navigli.unary_union)]
Navigli_interseca

In [ ]:
ax = navigli.plot(edgecolor =  "k", facecolor = "None",figsize=(12,6))
Navigli_interseca.plot(ax=ax,edgecolor =  "blue", facecolor = "None",figsize=(12,6))
contextily.add_basemap(ax)

3. visualizzi su una mappa i corsi d'acqua che passano in un comune inserito dall'utente

In [ ]:
comuneInput = input("inserisci un comune: ")
comu = comuni3857[comuni3857["COMUNE"]== comuneInput]
comuni_in_corsi = corsi_acqua3857[corsi_acqua3857.intersects(comu.geometry.item())]
ax = comu.plot(edgecolor =  "k", facecolor = "None",figsize=(12,6))
comuni_in_corsi.plot(ax=ax, edgecolor =  "blue", facecolor = "None",figsize=(12,6))
contextily.add_basemap(ax)

4. visualizzi su una mappa un fiume inserito dall'utente con tutti i comuni  che attraversa. Se attraversa Milano, visualizzare solo i quartieri che attraversa

In [ ]:
fiumeInput = input("inserisci un comune: ")
fiu = corsi_acqua3857[corsi_acqua3857["NOME"].str.contains(fiumeInput)]
comuni_in_corsi = comuni3857[comuni3857.intersects(fiu.unary_union)]
quartieri_in_corsi = quartieri3857[quartieri3857.intersects(fiu.unary_union)]
ax = comuni_in_corsi.plot(edgecolor =  "k", facecolor = "None",figsize=(12,6))
quartieri_in_corsi.plot(ax=ax,edgecolor =  "green", facecolor = "None")
fiu.plot(ax=ax,edgecolor =  "blue", facecolor = "None")
contextily.add_basemap(ax)

5. visualizzi il numero di corsi d'acqua della provincia di Milano e la lunghezza totale di tutti i corsi d'acqua

In [ ]:
provincia_milano = provincie3857[provincie3857["DEN_UTS"] == "Milano"]

In [ ]:
corsi_Milano = corsi_acqua3857[corsi_acqua3857.intersects(provincia_milano.geometry.item())]
print(corsi_Milano["SHAPE_LEN"].sum())
print(len(corsi_Milano))

1083787.6793008223
45

6. visualizzi su una mappa i comuni della provincia di Milano che non sono attraversati da corsi d'acqua

In [ ]:
provincia_milano = provincie3857[provincie3857["DEN_UTS"] == "Milano"] 
cumuni_prov_Milano = comuni3857[comuni3857.intersects(provincia_milano.geometry.item())]
cumuni_prov_Milano_no_acqua = cumuni_prov_Milano[~cumuni_prov_Milano.intersects(corsi_acqua3857.unary_union)]#~ negazione
cumuni_prov_Milano_no_acqua